# WebSocket host only, without protocol
NEXT_PUBLIC_WEB_SOCKET=api.staging-1stforex.foliumaitech.com
NEXT_PUBLIC_API_URL=https://api.staging-1stforex.foliumaitech.com

# App links
NEXT_PUBLIC_APP_URL=https://staging.d1bhofzjxuviaa.amplifyapp.com
NEXT_PUBLIC_APP_LOGIN_URL=https://staging.d1bhofzjxuviaa.amplifyapp.com/auth/login
NEXT_PUBLIC_APP_REGISTER_URL=https://staging.d1bhofzjxuviaa.amplifyapp.com/auth/register
NEXT_PUBLIC_APP_SUBSCRIPTION_URL=https://staging.d1bhofzjxuviaa.amplifyapp.com/subscription
NEXT_PUBLIC_APP_HISTORICAL_RESULTS_URL=https://staging.d1bhofzjxuviaa.amplifyapp.com/historical-results
