# WebSocket host only, without protocol
NEXT_PUBLIC_WEB_SOCKET=api.staging-1stforex.foliumaitech.com

# App links
NEXT_PUBLIC_APP_URL=https://staging.d1bhofzjxuviaa.amplifyapp.com
NEXT_PUBLIC_APP_LOGIN_URL=https://your-app-domain/auth/login
NEXT_PUBLIC_APP_REGISTER_URL=https://your-app-domain/auth/register
NEXT_PUBLIC_APP_HISTORICAL_RESULTS_URL=https://your-app-domain/historical-results
